doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css")
        link(rel="stylesheet", href="./css/main.css")
        title Plumber
    body
        .services 
            .container
                .main__header.center(style="--back-word: 'SERVICES'")
                    h3 OUR PLUMBING SERVICES
                .row.row-cols-1.row-cols-md-2.row-cols-lg-3.mt-5.gx-5.gy-3
                    .col
                        .services__item 
                            img.img-fluid.services__item__image(src="./images/plumber_icon_08.webp", alt="")
                            h5.services__item__title TOILETS & FAUCETS
                            h5.services__item__subtitle Donec rutrum congue leo eget quam
                            p.services__item__description Nulla quis lorem ut libero malesuada feugiat. Sed porttitor lectus nibh

                    .col
                        .services__item 
                            img.img-fluid.services__item__image(src="./images/plumber_icon_02.webp", alt="")
                            h5.services__item__title HOT WATER HEATERS
                            h5.services__item__subtitle Donec rutrum congue leo eget quam
                            p.services__item__description Nulla quis lorem ut libero malesuada feugiat. Sed porttitor lectus nibh cras ultricies
                    
                    .col
                        .services__item 
                            img.img-fluid.services__item__image(src="./images/plumber_icon_03.webp", alt="")
                            h5.services__item__title DRAIN CLEANING
                            h5.services__item__subtitle Your content goes here. Edit or remove this
                            p.services__item__description Nulla quis lorem ut libero malesuada feugiat. Sed porttitor lectus nibh cras ultricies

                    .col
                        .services__item 
                            img.img-fluid.services__item__image(src="./images/plumber_icon_01.webp", alt="")
                            h5.services__item__title GAS PIPING
                            h5.services__item__subtitle Donec rutrum congue leo eget quam
                            p.services__item__description Nulla quis lorem ut libero malesuada feugiat. Sed porttitor lectus nibh cras ultricies

                    .col
                        .services__item 
                            img.img-fluid.services__item__image(src="./images/plumber_icon_09.webp", alt="")
                            h5.services__item__title SEWER REPAIR
                            h5.services__item__subtitle Donec rutrum congue leo eget quam
                            p.services__item__description Nulla quis lorem ut libero malesuada feugiat. Sed porttitor lectus nibh cras ultricies

                    .col
                        .services__item 
                            img.img-fluid.services__item__image(src="./images/plumber_icon_04.webp", alt="")
                            h5.services__item__title REMODELS
                            h5.services__item__subtitle Donec rutrum congue leo eget quam
                            p.services__item__description Nulla quis lorem ut libero malesuada feugiat. Sed porttitor lectus nibh cras ultricies



